:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5em;
  color: #969696;
}

body * + * {
  margin-top: 1.5em;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  border: none;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:focus,
input:focus {
  outline: none;
}

.container {
  padding: 5em 1.5em 0.4em 1.5em;
  display: flex;
  flex-direction: column;
  align-content: center;
}

header .logo-wrapper {
  display: flex;
  justify-content: center;
}

main {
  margin-top: 2em;
}

.marketing .title {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}
.marketing .title .emphasise {
  font-weight: 700;
  color: #151f29;
}
.marketing .message {
  font-size: 0.65em;
  text-align: center;
  color: #151f29;
}
.marketing .subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0.6em;
  padding-right: 0.6em;
}
.marketing .subscribe .input-email {
  border: 1.4px solid #c2d3ff;
  border-radius: 25px;
  font-size: 0.8em;
  padding: 0.8em 1.2em 0.8em 1.2em;
  width: 15.625em;
}
.marketing .subscribe .input-email::placeholder {
  color: #c2d3ff;
  font-size: 0.8em;
}
.marketing .subscribe .but-notify {
  border: 0;
  border-radius: 25px;
  background-color: #4f7df3;
  color: #fff;
  font-size: 0.8em;
  font-weight: 600;
  padding: 0.8em 1.2em 0.8em 1.2em;
  text-align: center;
  margin-top: 0.7em;
  -webkit-box-shadow: 0px 5px 10px 1px #c2d3ff;
  -moz-box-shadow: 0px 5px 10px 1px #c2d3ff;
  box-shadow: 0px 5px 10px 1px #c2d3ff;
  width: 15.625em;
}

.illustration {
  margin-bottom: 4em;
  margin-top: 4em;
}
.illustration .dashboard-illustration {
  width: 100%;
}

.social-links-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}
.social-links-wrapper .social-icon + .social-icon {
  margin-top: 0;
}
.social-links-wrapper .social-icon {
  margin-right: 11px;
}
.social-links-wrapper .social-icon:last-child {
  margin-right: 0;
}
.social-links-wrapper .social-icon .fab {
  border: 1px solid #c2d3ff;
  border-radius: 50%;
  color: #4f7df3;
  font-size: 1em;
  height: 46px;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  width: 46px;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}
footer .attribution a {
  color: #3e52a3;
}
footer .attribution {
  line-height: 1.8em;
}
footer .attribution span {
  display: block;
}
footer span + span {
  margin-top: 0;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) {
  .container {
    padding-top: 3em;
    padding-left: 10em;
    padding-right: 10em;
  }

  header .logo {
    height: 1.563em;
  }

  main {
    margin-top: 1.5em;
  }

  .marketing .title {
    font-size: 2em;
  }
  .marketing .message {
    font-size: 1em;
  }
  .marketing .subscribe {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  }
  .marketing .subscribe .input-email {
    width: 24em;
    margin-right: 1em;
  }
  .marketing .subscribe .input-email::placeholder {
    font-size: 1em;
  }
  .marketing .subscribe .but-notify {
    width: 10em;
  }

  .illustration {
    display: flex;
    justify-content: center;
  }
  .illustration .dashboard-illustration {
    width: 60%;
  }

  .social-links-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 4em;
  }
  .social-links-wrapper .social-icon + .social-icon {
    margin-top: 0;
  }
  .social-links-wrapper .social-icon {
    margin-right: 11px;
  }
  .social-links-wrapper .social-icon:last-child {
    margin-right: 0;
  }
  .social-links-wrapper .social-icon .fab {
    border: 1px solid #c2d3ff;
    border-radius: 50%;
    color: #4f7df3;
    font-size: 0.8em;
    height: 36.8px;
    padding: 9.6px;
    text-align: center;
    text-decoration: none;
    width: 36.8px;
  }

  footer .attribution {
    font-size: 0.622em;
  }
  footer .attribution .second,
footer .attribution .third {
    display: inline;
  }
}
/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    padding-left: 3.2em;
    padding-right: 3.2em;
  }

  header .logo {
    height: 1.563em;
  }

  .marketing .title {
    font-size: 2em;
  }
  .marketing .message {
    font-size: 0.92em;
  }
  .marketing .subscribe .input-email {
    width: 31em;
  }
  .marketing .subscribe .input-email::placeholder {
    font-size: 0.9em;
  }
  .marketing .subscribe .but-notify {
    width: 31em;
  }

  footer .attribution .second,
footer .attribution .third {
    display: inline;
  }
}
/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    padding-left: 3.2em;
    padding-right: 3.2em;
  }

  header .logo {
    height: 1.563em;
  }

  .marketing .title {
    font-size: 2em;
  }
  .marketing .message {
    font-size: 0.92em;
  }
  .marketing .subscribe .input-email {
    width: 32em;
  }
  .marketing .subscribe .input-email::placeholder {
    font-size: 0.9em;
  }
  .marketing .subscribe .but-notify {
    width: 32em;
  }

  footer .attribution .second,
footer .attribution .third {
    display: inline;
  }
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  header .logo {
    height: 1.563em;
  }

  .marketing .title {
    font-size: 1.8em;
  }
  .marketing .message {
    font-size: 0.9em;
  }
  .marketing .subscribe .input-email {
    width: 28.125em;
  }
  .marketing .subscribe .but-notify {
    width: 28.125em;
  }

  footer .attribution .second,
footer .attribution .third {
    display: inline;
  }
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
/*
  ##Device = Most of the Smartphones Mobiles (landscape)
*/
@media (min-width: 320px) and (max-width: 480px) and (orientation: landscape) {
  .marketing .title {
    font-size: 1.5em;
  }
  .marketing .message {
    font-size: 0.8em;
  }
  .marketing .subscribe .input-email {
    padding-left: 1.5em;
    padding-right: 1.5em;
    width: 25em;
  }
  .marketing .subscribe .but-notify {
    width: 25em;
  }

  footer .attribution .second,
footer .attribution .third {
    display: inline;
  }
}

/*# sourceMappingURL=styles.css.map */
